<div class="mycontainer">
    <div class="card text-bg-primary card w-40 m-8" style="max-width: 50rem;">
        <div class="card-header text-center">
            <h2>{{city}} </h2>
            
        <p>  <img src="{{iconURL}}" alt="weather image"> </p>
    </div>
        <div class="card-body">
          <p class="card-text">Summary:{{summary}} </p>
          <p class="card-text">Tempreure: {{temperature}} °F</p>
          <p class="card-text">Feels like: {{feelsLikeTemp}} °F</p>
          <p class="card-text">Pressure: {{pressure}} hPa </p>
          <p class="card-text">Humidity: {{humidity}}% </p>
        </div>
      </div>
</div>


